.welcome {
    text-align: center;
    color: blue;
    margin-top: 25px;
    font-size: 18px;
}
.card {
    text-align: center;
    display: flex;
    margin: 0 auto;
    place-content: center;
    align-items: center;
    justify-content: center;
}
.card .div-1 h2 {
    color: rgba(255, 0, 0, 0.851);
    margin-top: 6px;
    font-size: 21px;
}
.card .div-1 h3 {
    font-size: 18px;
}
.card .div-1 p {
    font-size: 15px;
}
  
.div-1 {
    border: 1px solid rgba(61, 12, 209, 0.411);
    border-radius: 16px;
    box-shadow:0 4px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(4px);
    width: 310px;
    height: 480px;
    margin-top: 40px;
    align-self: center;
    padding: auto;
}


.send{
    width: 170px;
    height: 70px;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    
    text-decoration: none;
    overflow: hidden;
    transition: 0.0010s;
}
@media(min-width: 340px) {
    .send{
        font-size: 30px;
    }
}

.send:hover{
    color: var(--blue);
    background: #80c0f5;
    box-shadow: 0 0 10px #58adf1,
                0 0 40px #58adf1,
                0 0 80px #58adf1;
                transition-delay: 0.6s;
}

.send span{
    position: absolute;
    display: block;
}

.send span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.send:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.send span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.send:hover span:nth-child(2){
    left: 100%;
    transition: 1s;
    transition-delay: 0.15s;
}
.send span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.send:hover span:nth-child(3){
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.send span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.send:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}